In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [4]:
#if the data is nominal data use the below to convert to number 
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children',
       'sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [12]:
X_train

      age     bmi  children  sex_male  smoker_yes
1163   18  28.215         0         0           0
196    39  32.800         0         0           0
438    52  46.750         5         0           0
183    44  26.410         0         0           0
1298   33  27.455         2         1           0
...   ...     ...       ...       ...         ...
763    27  26.030         0         1           0
835    42  35.970         2         1           0
1216   40  25.080         0         1           0
559    19  35.530         0         1           0
684    33  18.500         1         0           0

[936 rows x 5 columns]

In [13]:
from sklearn.preprocessing import StandardScaler 
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [18]:
from sklearn.preprocessing import StandardScaler 
scy=StandardScaler()
Y_train=scy.fit_transform(Y_train)
Y_test=scy.transform(Y_test)

In [19]:
X_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [20]:
from sklearn.svm import SVR
#regressor=SVR(kernel='linear')
#Google Search SVM Regression SK learn for the kernel parameter
regressor=SVR(kernel='linear',C=500)
#racial bias function -> rbf
#regressor=SVR(kernel='poly')
#regressor=SVR(kernel='sigmoid')
regressor.fit(X_train,Y_train)

C:\Users\Rajesh Rajendran\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=500, kernel='linear')

In [21]:
regressor.intercept_

array([0.00979876])

In [22]:
regressor.n_support_

array([387])

In [23]:
regressor.support_

array([  1,   2,   6,   8,  10,  12,  15,  21,  22,  23,  25,  26,  29,
        32,  33,  34,  35,  36,  37,  39,  41,  45,  46,  48,  52,  58,
        60,  61,  66,  68,  70,  72,  73,  75,  86,  88,  89,  90,  92,
        95,  98, 100, 102, 104, 105, 107, 113, 117, 118, 121, 123, 124,
       125, 126, 127, 130, 138, 139, 143, 149, 151, 153, 158, 160, 167,
       173, 177, 178, 179, 182, 187, 192, 193, 196, 199, 201, 202, 203,
       204, 206, 207, 209, 210, 212, 214, 215, 218, 220, 222, 223, 226,
       227, 233, 235, 236, 238, 239, 240, 242, 243, 247, 248, 251, 257,
       259, 263, 274, 276, 281, 293, 295, 296, 308, 312, 315, 323, 324,
       334, 335, 337, 343, 345, 347, 348, 349, 350, 351, 352, 353, 357,
       359, 360, 361, 363, 364, 365, 366, 369, 370, 373, 375, 376, 377,
       379, 382, 386, 387, 388, 389, 392, 396, 397, 399, 400, 401, 404,
       409, 412, 418, 421, 422, 424, 427, 428, 436, 437, 442, 443, 445,
       446, 448, 449, 450, 453, 456, 458, 459, 460, 462, 468, 470, 474,
       475, 476, 477, 478, 481, 486, 488, 490, 491, 492, 493, 495, 499,
       505, 507, 510, 511, 512, 514, 515, 519, 522, 523, 526, 527, 530,
       532, 535, 536, 538, 541, 544, 545, 546, 547, 550, 553, 554, 556,
       560, 562, 563, 564, 567, 568, 570, 573, 575, 576, 577, 579, 581,
       582, 583, 587, 589, 590, 593, 596, 598, 602, 604, 605, 607, 608,
       612, 615, 617, 630, 634, 638, 639, 641, 642, 648, 649, 652, 655,
       660, 661, 662, 665, 666, 674, 675, 676, 677, 680, 685, 692, 695,
       696, 698, 700, 701, 702, 708, 709, 710, 713, 717, 719, 722, 723,
       724, 727, 729, 730, 731, 732, 733, 734, 737, 738, 739, 743, 748,
       749, 750, 751, 753, 764, 766, 768, 769, 771, 774, 776, 777, 779,
       781, 782, 783, 784, 786, 787, 794, 796, 797, 799, 800, 801, 802,
       805, 806, 807, 809, 811, 812, 814, 815, 816, 821, 823, 824, 825,
       826, 827, 829, 830, 831, 833, 834, 836, 837, 839, 842, 844, 849,
       850, 853, 856, 857, 862, 865, 866, 869, 870, 873, 875, 876, 877,
       878, 880, 881, 888, 891, 896, 898, 901, 902, 905, 906, 908, 909,
       910, 911, 914, 915, 916, 918, 925, 928, 930, 932])

In [24]:
y_pred=regressor.predict(X_test)

In [25]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_pred)

In [26]:
r_score

0.7583920183563293

In [27]:
import pickle 
filename='final_svr_file.sav'

In [28]:
pickle.dump(regressor,open(filename,'wb'))

In [29]:
preinput=sc.transform([[23,42,2,0,0]])

C:\Users\Rajesh Rajendran\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [30]:
preinput

array([[-1.17608405,  1.80474524,  0.76341038, -0.97676557, -0.50466988]])

In [31]:
loaded_model=pickle.load(open('final_svr_file.sav','rb'))
result=loaded_model.predict(preinput)

In [32]:
result

array([-0.73408306])

In [34]:
postoutput=scy.inverse_transform([result])

In [35]:
postoutput

array([[4516.58865937]])